body {
    margin: 0px;
}

#full-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-content {
    background-color: #fffafa;
    width: 70%;
}

.child-content {
    padding: 25px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

p.txt-date {
    font-family: "Roboto", sans-serif;
    color:#008080;
    font-weight: 700;
    font-size: 14px;
}